<h1>
  ControlCopyPasta
</h1>

The internet's recipes your way.

<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'About', about_path %>
